
.wrap{
    display: flex;
}
.block1{
    background: rgb(255, 50, 84);
    width: 130px;
    height: 150px;
}
.block2{
    background-color: rgb(88, 17, 138);
    width: 130px;
    height: 150px;
    position: relative;
    top: 50px;
    right: 50px;
}
.block3{
    background-color: rgb(18, 170, 41);
    width: 130px;
    height: 150px;
    position: relative;
    right: 75px;
    top: 110px;
}