.block1{
    color:rgb(137, 40, 56);
    width: 100px;
    height: 150px;
}
.block2{
    color:rgb(138, 17, 124);
    width: 100px;
    height: 150px;
}
.block3{
    color:rgb(18, 170, 41);
    width: 100px;
    height: 150px;
}